.dropdown {
  .options {
    font-size: 30px;
    .points {
      margin: 0;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 3px;
  border: 1px solid #efefef;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  .change {
    color: #0095f6;
  }
  .delete {
    color: red;
  }
}

.dropdown-content button {
  cursor: pointer;
  background: transparent;
  width: 105px;
  border: none;
  height: 40px;
  display: block;
  border-bottom: 1px solid #efefef;
  &:last-child {
    border: none;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}
