.header {
  border: 1px solid #efefef;
  background: white;
  position: sticky;
  top: 0;

  .nav-bar {
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 60px;
    width: 1100px;
    align-items: center;
    .logo {
      margin-top: 7px;
      img {
        width: 103px;
      }
    }
    .form {
      display: flex;
      align-items: center;
      background: #efefef;
      border-radius: 8px;
      div {
        width: 46px;
        font-weight: 400;
        font-size: 16px;
      }
      img {
        padding-left: 21px;
      }
      input {
        outline: none;
        width: 252px;
        height: 36px;
        background: #efefef;
        font-weight: 400;
        font-size: 16px;
        border-radius: 8px;
        border: none;
      }
    }
    .icons {
      .profile {
        border-radius: 20px;
        border: none;
        background: transparent;
        img {
          margin-left: 25px;
          border-radius: 15px;
          width: 24px;
          height: 24px;
        }
      }
      .btn {
        cursor: pointer;
        background: transparent;
        border-radius: 20px;
        margin-left: 25px;
        border: none;
      }
    }
  }
}
