.post {
  width: 600px;
  background: #ffffff;
  margin-top: 20px;
  border-radius: 3px 3px 0px 0px;
  border: 1px solid #efefef;
  .userBlock {
    margin: 17px;
    .likes {
      font-weight: 500;
      font-size: 14px;
    }
    .title {
      margin-top: 7px;
      .userComment {
        margin-left: 8px;
        font-size: 14px;
      }
    }
  }
  &__img {
    img {
      width: 600px;
      height: 600px;
      object-fit: cover;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin: auto;
    .options {
      margin-top: 4px;
      .points {
        font-size: 30px;
      }
    }
  }
  .account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 60px;
    &__img {
      img {
        width: 32px;
        height: 32px;
        background: #c4c4c4;
        border-radius: 15px;
      }
    }
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    margin: 12px auto;
    .save {
      margin-left: -6px;
      img {
        margin-right: 24px;
      }
    }
    .elements {
      img {
        padding-left: 15px;
      }
    }
  }
}
.hours {
  font-weight: 400;
  font-size: 12px;
}
.form-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  border-top: 1px solid #efefef;
  input {
    outline: none;
    border: none;
    width: 500px;
    height: 52px;
  }
  button {
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 149, 246, 0.25);
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
